<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form action="/add-post" method="POST">

  <label for="title"><b>Title</b></label>
  <input type="text" placeholder="Post Title" name="title">
  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="30" rows="10"></textarea>
  <label for="title"><b>Author</b></label>
  <input type="text" placeholder="Author" name="title">
  <label for="title"><b>State</b></label>
  <input type="text" placeholder="State" name="title">
  <label for="title"><b>Description</b></label>
  <input type="text" placeholder="Describe Your Post" name="title">

  <input type="submit" value="Add" class="btn">

</form>