<div class="author">
    <h1 class="author_heading">Hi, I am Memunat.</h1>
    <p class="author_body">Web developer and Physicist.</p>
  </div>
  
  <img src="/img/hero.jpg" alt="lady viewing nature" class="hero-image" width="981" height="528">
  <section>
      <h2 class="articles_heading">Latest Posts</h2>
 
  <ul class="article-ul">

    <% data.forEach(post => { %>
     
    
      <li>
        <a href="/post/<%=post._id%>">
          <span><%=post.title  %></span>
          <span class="article-list_date"><%=post.updatedAt.toDateString() %></span>
        </a>
      </li>
      <% }) %>
  </ul>
  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; Next</a>
  <% } %>
  
  
</section>

  